.toast {
  background: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width: 350px;

  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  display: flex;
  align-items: center;
  gap: 1rem;

  .symbol {
    font-size: var(--qwik-fs-xl);
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }

  .symbol.success {
    background: #00f593;
  }

  .symbol.fail {
    background: #ff0033;
  }

  .message {
    flex: 1;
    text-align: start;
    font-weight: var(--qwik-fw-semibold);
  }
}

#show {
  visibility: visible;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

#hide {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
