.trx_info_container {
  max-width: var(--qwik-max-width);
  margin: auto;
  width: var(--qwik-section-width);

  padding-bottom: 120px;

  display: flex;
  justify-content: space-between;

  .main_title {
    font-weight: var(--qwik-fw-semibold);
    font-size: 36px;
    line-height: 50.4px;
    color: var(--qwik-main-color);
  }

  .card {
    border: 1px solid #e1eded;
    padding: 20px;
    border-radius: 12px;

    display: flex;
    align-items: flex-start;
    gap: 12px;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 10px 10px 40px 0px #222e6f1a;
    }

    .title {
      font-weight: var(--qwik-fw-bold);
      font-size: var(--qwik-fs-xl);
      line-height: var(--qwik-lh-xl);
      color: var(--qwik-main-color);
    }

    .content {
      font-weight: var(--qwik-fw-medium);
      font-size: var(--qwik-fs-lg);
      line-height: var(--qwik-lh-lg);
      color: var(--qwik-black);
    }
  }
}

@media screen and (max-width: 1024px) {
  .trx_info_container {
    padding: 60px 0;
    .main_title {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 900px) {
  .trx_info_container {
    flex-direction: column;
    gap: 1rem;
    .main_title {
      text-align: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .trx_info_container {
    .card {
      .title {
        font-size: var(--qwik-fs-lg);
        line-height: var(--qwik-lh-lg);
      }
      .content {
        font-size: var(--qwik-fs-base);
        line-height: var(--qwik-lh-base);
      }
    }
  }
}
