.header_wrapper {
  position: sticky;
  top: 0;
  z-index: 9998;
  background-color: transparent;
  backdrop-filter: blur(12px);
  transition: all 0.3s ease;

  &_container {
    height: 100px;
    transition: all 0.3s ease;

    max-width: var(--qwik-max-width);
    margin: auto;
    width: var(--qwik-section-width);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 150px;
      height: 50px;
      margin-left: -20px;
    }

    .nav_links {
      display: flex;
      align-items: center;
      gap: 44px;

      .link {
        color: var(--qwik-black);
        font-size: var(--qwik-fs-base);
        line-height: var(--qwik-lh-base);
        font-weight: var(--qwik-fw-semibold);
        cursor: pointer;
        text-decoration: none;
        position: relative;
        transition: all 0.3s ease-out;

        &:hover {
          color: var(--qwik-main-color);
        }
      }
    }
  }

  .header_sticky {
    height: 70px;
  }
}

.header_wrapper_sticky {
  background-color: rgba(255, 255, 255, 0.44);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.1);
}

@media screen and (max-width: 900px) {
  .header_wrapper {
    &_container {
      .nav_links {
        display: none;
      }
    }
  }
}
